@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Space Grotesk", system-ui, -apple-system, sans-serif;
  background-color: #f8fafc;
}
